#hi{
    position:absolute;
    z-index: 2;
    background: rgba(255, 255, 255, 0.68);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
 }
 #signin{
    border:2px solid #B672FD;
 }
 #signin:hover{
   background-color: #B672FD;
   color:white;
 }
 #ftrail{
   background:linear-gradient(to bottom, #B672FD,#E082CC)
 }
 #ftrail:hover{
   background:linear-gradient(to bottom,#E082CC, #B672FD)
   
 }

 #serbtn{
      box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.75);

 }
 #dashframe{
    border:2px dashed #B672FD;
    border-radius: 60px;
 }
 #potu1{
    border-radius: 60px 0 60px 0;
    background-color: #FF8DA6;
 }
 #potu2{
    border-radius: 0px 60px 0px 60px;
    background-color: #B672FF;
 }
 p{
   color:grey;
 }

 #shinchan{
    border:2px dashed #B672FD;
    border-radius: 0px 0 200px 200px;

 }
 #shinchan2{
    border-radius: 0px 0 200px 200px;
 }
 #footer{
   background-color: white;
   border-radius: 50px 0 50px 0;
 }
 #shadow{
   box-shadow: 2px 1px 41px -14px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 1px 41px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 1px 41px -14px rgba(0,0,0,0.75);
 }